.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 120px;
    min-height: 1000px;
}

.cart-title,
.cart-mov-title {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    justify-self: center;
    color: rgb(231, 81, 81);
}

.cart-title {
    font-size: 60px;
    margin-bottom: 20px;
}

.cart-mov-title {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cart-poster {
    width: 300px;
    justify-self: center;
    scale: 0.9;
    transition: 0.9s;
    cursor: pointer;
}

.cart-poster:hover {
    scale: 1;
}

.remove-button {
    margin: 10px auto;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(255, 90, 90);
    border: 2px solid rgb(255, 90, 90);
    color: white;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.remove-button:hover {
    background-color: white;
    color: rgb(255, 90, 90);
    border: 2px solid rgb(255, 90, 90);
}

.remove-button:active {
    background-color: rgb(255, 190, 190);
}

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.cart-empty-label {
    margin-top: 30px;
    margin-bottom: 650px;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}

.cart-empty-label {
    color: rgb(240, 117, 117);
    font-family: "Montserrat", serif;
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}