* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(50, 50, 50);
}

.mov-label,
.featured-header,
.hero-label {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    justify-self: center;
    color: rgb(231, 81, 81);
}