.nav-bar {
    top: 0;
    border: 10px;
    padding: 25px;
    background: rgb(25, 25, 25);
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    align-content: center;
    position: fixed;
    width: 100vw;
    height: 25px;
    z-index: 9999;
}

.logged-in {
    margin-right: 105px;
    justify-self: right;
    width: auto;
    display: grid;
    grid-template-columns: auto auto 125px 125px;
    justify-content: center;
    align-content: center;
}

.search-form {
    display: flex;
    align-items: center;
    justify-self: right;
    align-self: center;
    margin-right: 100px;
    background-color: #1a1a1a;
    border-radius: 20px;
    padding: 5px 10px;
    width: 265px;
    height: 30px;
    max-width: 100%;
    box-shadow: 0 0 5px rgba(255, 90, 90, 0.5);
    transition: box-shadow 0.3s ease;
}

.search-form:focus-within {
    box-shadow: 0 0 8px rgb(255, 90, 90);
}

.search-form input[type="text"] {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: white;
    font-family: "Montserrat", serif;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 20px 0 0 20px;
    outline: none;
    transition: background-color 0.3s ease;
}

.search-form input[type="text"]::placeholder {
    color: white;
}

.search-submit-button {
    background-color: rgb(255, 90, 90);
    border: 2px solid rgb(255, 90, 90);
    border-radius: 0 20px 20px 0;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.search-submit-button:hover {
    background-color: white;
}

.search-submit-button:active {
    background-color: rgb(255, 190, 190);
    ;
}

.search-icon {
    width: 20px;
    height: 20px;
    filter: drop-shadow(0 0 1px black);
    margin-right: 2px;
    filter: invert(100%);
}

.search-submit-button:hover .search-icon {
    filter: invert(27%) sepia(95%) saturate(7494%) hue-rotate(-1deg) brightness(100%) contrast(100%);
}

.welc-msg {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    align-self: center;
    justify-self: left;
    margin-right: 30px;
}

.log-out,
.cart-button,
.settings-button {
    justify-self: right;
    align-self: center;
}

.logged-out {
    margin-right: 80px;
    justify-self: right;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.sign-up,
.log-in,
.log-out,
.cart-button,
.settings-button {
    width: 75px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(255, 90, 90);
    border: 2px solid rgb(255, 90, 90);
    color: white;
    transition: 0.12s;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
}

.sign-up:hover,
.log-in:hover,
.log-out:hover,
.cart-button:hover,
.settings-button:hover {
    background-color: white;
    border: 2px solid rgb(255, 90, 90);
    color: rgb(255, 90, 90);
}

.sign-up:active,
.log-in:active,
.log-out:active,
.cart-button:active,
.settings-button:active {
    background-color: rgb(255, 190, 190);
}

.logo {
    margin-left: 40px;
    justify-self: left;
    font-family: "Dangrek", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(255, 90, 90);
    cursor: pointer;
    user-select: none;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

@media (min-width: 1000px) and (max-width: 1500px) {
    .welc-msg {
        font-size: 16px;
    }

    .hero-label {
        font-size: 100px;
    }

    .search-form {
        width: 200px;
        margin-right: 50px;
    }

    .search-form input[type="text"] {
        width: 135px;
    }
}

@media (max-width: 1000px) {
    .welc-msg {
        font-size: 15px;
    }

    .hero-label {
        font-size: 75px;
    }
}